<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.FruitMapper">
<!--复杂查询-->
    <select id="listXml" resultType="com.example.entity.Fruit">
        SELECT * FROM fruit
    </select>

    <delete id="deleteXml" parameterType="int">
        DELETE FROM fruit WHERE id = #{id}
    </delete>

    <select id="findXml" resultType="com.example.entity.Fruit" parameterType="int">
        SELECT * FROM fruit WHERE id = #{id}
    </select>

    <update id="updateXml" parameterType="com.example.entity.Fruit">
        UPDATE fruit SET name = #{name}, sale = #{sale} WHERE id = #{id}
    </update>

    <insert id="addXml" parameterType="com.example.entity.Fruit">
        INSERT INTO fruit (name, sale) VALUES (#{name}, #{sale})
    </insert>
<!--其他-->
</mapper>
